body {
    background-color: wheat;
}

.jumbotron {
    background-color: dodgerblue;
}

#header {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Tangerine', cursive;
    text-shadow: 4px 4px 4px #aaa;
}

#belowHeader {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Tangerine', cursive;
}